.home {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 85% of the viewport width */
  display: flex;
  justify-content: center; /* Centers the flex items horizontally */
  align-items: center; /* Centers the flex items vertically */
}

.bio {
  font-family: 'Paprika', sans-serif;
  margin-top: 100px; 
  width: auto;  /* Adjusts to content width */
  text-align: center; /* Centers all text inside .bio */
  display: flex;
  flex-direction: column; /* Aligns content vertically */
  justify-content: flex-start; /* Pushes content toward the top */
  align-items: center; /* Centers items horizontally */
  padding-left:10%;
  position:relative;
}
.nameParagraphDiv{
 
  font-weight: bold;
  border:3px solid black; 
  height:35vh; 
  width:35vw; 
  
}
.name{
  font-size: 48px;
  margin-top: 10%; /* Adjust margin to control vertical spacing */
  transition: all 0.5s ease;
}
.matrixName{
  font-size:48px; 
  margin-top:10%;
  color: #00ff00; /* Matrix-style green color */
  
}

.objective {
  font-size: 24px;
  padding-left:19%;
  padding-right:19%;
}

.color {
  height: 100vh;
  width: 100vw;
  background-color: #B4D9EF;
  position: relative;
  z-index: 1; /* Lower z-index */


}

.selfie {
  width: 500px;
  height: 518px;
  position: absolute; /* Allow positioning beyond the parent */
  top: 50px; /* Adjust to control vertical overflow */
  left: -15%; /* Move the image to overflow into the bio section */
}
