.projects{
    display: flex;
    flex-direction: column;
    height: 180vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
    background-color: #B4D9EF;
    overflow-x: hidden;
    font-family: 'Paprika', sans-serif;
}
.projectsTitle{
    width:100vw; 
    margin: 0;
    margin-top:0.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}
.projectsImage{
    width:40vw;
    margin-left:15vw;
}
.projectsContent{
    display: flex;
    flex-direction:row; 
    overflow: hidden;
}
.projectsDescription{
    margin-right: 10%;
    margin-top:5%;
    padding-left:5%;
   
}
.educationTitle, .encapsulateTitle, .keysightTitle{
    font-weight: lighter;
}
.educationDescription, .encapsulateDescription, .keysightDescription{
    font-weight:lighter;
   
}
.encapsulateDescription{
    margin-top:50%; 
    padding-right:30%; 
    margin-left:10%; 
}
.keysightDescription{
    margin-top:50%; 
    /* padding-right:30%; 
    margin-left:10%;  */
}
.educationProject{
    height:22%;
}
.encapsulateProject{
    height:22%; 
}
.capstoneProject{
    height:22%; 
    width:100%;
}