.experience{
    display: flex;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
    /* background-color: #B4D9EF; */
    overflow-x: hidden;
    font-family: 'Paprika', sans-serif;
}