.experience{
    display: flex;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
    /* background-color: #B4D9EF; */
    overflow-x: hidden;
    font-family: 'Paprika', sans-serif;

}
.verticalLine {
    height: 70vh; /* Adjust the height as needed */
    margin-top:7.4%;
    position:absolute;
    left: 14.5%; 
  
}
.circle {
    width: 4vw;
    height: 7vh;
    shape-outside: circle();
    background-color: white;
    border: 1px solid black;
    border-radius:50%;
    margin-left:12.4%; 
    margin-top:4%; 

  }
  .rtxLogo{
    width:3.2vw; 
    margin-top:1%
  }
  .firstBullet, .secondBullet, .thirdBullet{
    margin-top:2%;
    padding-right:10%;
    justify-content: left;
  }

  .diamond{
    width:10%;
    margin-left:5%;
  }
  .firstBulletPoint{
    display: flex; /* Aligns items horizontally */
    align-items: flex-start; /* Aligns the image and text at the top */
    font-size: 22px;
    margin-top: 15%; /* Adjust vertical space for the bullet point */
  }
.secondBulletPoint, .thirdBulletPoint {
    display: flex; /* Aligns items horizontally */
    align-items: flex-start; /* Aligns the image and text at the top */
    font-size: 22px;
    

}
  .bulletPoints{
    width: 50%;
  }

  .rightSide{
    background-color: #B4D9EF;
    width:50vw; 
  }
  .experienceTitle{
    border: 3px solid black; 
    font-weight: bold;
    height:40vh; 
    width:30vw; 
    margin-top:25%;
    margin-left:7%;
    background-color: white;
    
  }
  .software, .timeline{
    margin-top:10%;
    font-weight: lighter;
  }
  .websiteToolLine{
    position: absolute; /* Allow positioning beyond the parent */
    margin-left:31.2%;
  }
  
  

  