.rightTabDiv{
    position:fixed; 
    display:flex; 
    right:0; 
    top:0; 
    z-index: 10;
    flex-direction: column;
    margin-top: 3rem;
}

.linkedin{
    width:34px; 
    margin-top: 1.5rem;
    margin-right:1rem;
}

.github{
    width:40px;
    margin-right:1rem;
}
.moon{
    width:35px; 
    margin-right: 3rem;
    margin-top:500%;
}
.popup {
    position: absolute;
    bottom: -3%; /* Position below the moon image */
    right:88%; 
    transform: translateX(-10%);
    background-color: rgba(0, 0, 0, 0.4); /* Dark semi-transparent background */
    color: white;
    padding: 2px;
    border-radius: 2px;
    z-index: 100; /* Ensure the popup appears in front */
    width:130px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
